{@java.util.List<String> exchanges}
{@java.util.Map<String, java.util.List<cz.amuradon.tralon.agent.strategies.scanner.ScannerDataItem>> data}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tralon: Scanner</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <script src="https://unpkg.com/htmx.org@2.0.7"></script>
  <script src="https://unpkg.com/htmx-ext-sse@2.2.4"></script>
</head>
<body>
<h1>Tralon: Scanner</h1>
<div id="scannerData" hx-ext="sse" sse-connect="/scanner/tableUpdates">
<!-- TODO link primo na exchange a symbol k tradovani -->
  {#for name in exchanges}
  <div sse-swap="{name}">
    {#let list=data.get(name)}
    {#if list}
    {#fragment exchangeTable}
    <table>
    <thead>
    <tr>
      <th>Symbol</th>
      <th>Exchange</th>
      <th>Data</th>
    </tr>
    </thead>
      {#for item in list}
      <tr>
	    <td>{item.symbol}</td>
	    <td>{item.exchange}</td>
	    <td>{item.data}</td>
      </tr>
      {/for}
    </table>
    {/fragment}
    {/if}
  </div>
<!-- FIXME zobrazit vsechny soucasne alerty, zobrazuje se jen posledni -->
  <!-- TODO zobrazit cas notifikace -->
  <div id="symbolAlerts" hx-ext="sse" sse-connect="/scanner/symbolAlerts" sse-swap="{name}"></div>
  {/for}
</div>
  <script type="text/javascript">
  	window.onload = () => {
  		var alert = new Audio("light-hearted-message-tone.ogg");
  		document.body.addEventListener('htmx:sseMessage', function (e) {
			console.log(e);
  			if (e.target.id === 'symbolAlerts') {
		 	  alert.play();
  			  if (Notification.permission === 'granted') {
  		  		  new Notification(e.detail.data, { body: e.detail.data });
  			  }
  			}
  		});
  		
  	};
  </script>
</body>
</html>