{@java.util.List<String> exchanges}
{@java.util.Map<String, java.util.List<cz.amuradon.tralon.agent.strategies.scanner.ScannerDataItem>> data}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tralon: Scanner</title>

  <script src="https://unpkg.com/htmx.org@2.0.7"></script>
  <script src="https://unpkg.com/htmx-ext-sse@2.2.4"></script>
  <script src="scanner.js"></script>
  
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  <link rel="stylesheet" href="tralon.css" />
</head>
<body>
<h1>Tralon: Scanner</h1>
<div id="scannerData" hx-ext="sse" sse-connect="/scanner/tableUpdates">
  {#for name in exchanges}
  <div sse-swap="{name}">
    {#let list=data.get(name)}
    {#if list}
    {#fragment exchangeTable}
    <table>
    <thead>
    <tr>
      <th>Symbol</th>
      <th>Exchange</th>
      <th>Timestamp</th>
      <th>Data</th>
      <th>TV</th>
      <th>Terminal</th>
    </tr>
    </thead>
      {#for item in list}
      <tr class="{item.isNew ? 'new-symbol' : ''}">
	    <td><a href="{item.link}" target="_blank">{item.symbol}</a></td>
	    <td>{item.exchange}</td>
	    <td>{item.timestamp}</td>
	    <td>{item.data}</td>
	    <td><a href="https://www.tradingview.com/chart/?symbol=BINANCE:{item.symbol}.P" target="_blank">TV</a></td>
      <td><a href="/terminal?symbol={item.symbol}&exchange={item.exchange}" target="_blank">Terminal</a></td>
      </tr>
      {/for}
    </table>
    {/fragment}
    {/if}
  </div>
  <div class="symbolAlerts" hx-ext="sse" sse-connect="/scanner/symbolAlerts" sse-swap="{name}" hx-swap="none"></div>
  {/for}
  <div id="notifications" class="notifications"></div>
</div>
<audio id="notificationsound" src="scannernotification.ogg"></audio>
</body>
</html>