{@java.util.List<cz.amuradon.tralon.agent.strategies.scanner.ScannerDataItem> items}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tralon: Scanner</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <script src="https://unpkg.com/htmx.org@2.0.7"></script>
  <script src="https://unpkg.com/htmx-ext-sse@2.2.4"></script>
</head>
<body>
<h1>Tralon: Scanner</h1>
<!-- FIXME Rozdelit tabulku podle burz -->
<div id="scannerData" hx-ext="sse" sse-connect="/scanner/tableUpdates" sse-swap="message">
<!-- TODO link primo na exchange a symbol k tradovani -->
  {#fragment scannerTable}
  <table>
  <thead>
  <tr>
    <th>Symbol</th>
    <th>Exchange</th>
    <th>Data</th>
  </tr>
  </thead>
  {#for item in items}
    <tr>
	    <td>{item.symbol}</td>
	    <td>{item.exchange}</td>
	    <td>{item.data}</td>
    </tr>
  {/for}
  </table>
  {/fragment}
</div>
<div id="symbolAlerts" hx-ext="sse" sse-connect="/scanner/symbolAlerts" sse-swap="message"></div>
  <script type="text/javascript">
    // FIXME prehrati zvuku a notifikaci chci na /notifications
  	window.onload = () => {
  		var alert = new Audio("light-hearted-message-tone.ogg");
  		document.body.addEventListener('htmx:sseMessage', function (e) {
			console.log(e);
  			if (e.detail.elt.id === 'symbolAlerts') {
		 	  alert.play();
  			  if (Notification.permission === 'granted') {
  		  		  new Notification(e.detail.data, { body: e.detail.data });
  			  }
  			}
  		});
  		
  	};
  </script>
</body>
</html>