@charset "UTF-8";

.grid {
	display: grid;
	grid-template-columns: 1fr min(1200px, 90%) 1fr;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.notification {
    border: 3px solid #377D22;
    background-color: #D5F2C8;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

.notifications {
    position: fixed;
    right: 20px;
    width: 400px;
    top: 50px;
}

.new-symbol {
	background-color: #D5F2C8;
}