{@java.lang.String[] exchanges}

<h3>Dual Investment Spot Hedge Strategy</h3>
<form hx-target="#runningStrategies" hx-post="/run-spot-hedge">
	<label for="exchangeName">Exchange Name:</label>
	<select name="exchangeName">
	  {#for name in exchanges}
		<option value="{name}">{name}</option>
	  {/for}
	</select>
	
	<label for="endDateTime">End date time:</label>
	<input name="endDateTime" type="datetime-local"/>
	
	<label for="baseAsset">Base Asset:</label>
	<input name="baseAsset" type="text"/>
	
	<label for="quoteAsset">Base Asset:</label>
	<input name="quoteAsset" type="text" value="USDT"/>

	<label for="price">Price:</label>
	<input name="price" type="number"/>
	
	<label for="baseQuantity">Base Quantity:</label>
	<input name="baseQuantity" type="number"/>
	
	<label for="mmSpread">Market making spread (%):</label>
	<input name="mmSpread" type="number"/>
	
	<label for="apr" title="APR to calculate % around strike price">APR (%):</label>
	<input name="apr" type="number" />

	<label for="priceChangeDelayMs">Price change delay (ms):</label>
	<input name="priceChangeDelayMs" type="number" />
	
	<br/>
	<input type="submit" value="Run" />
</form>
