{@java.lang.String[] exchanges}

<h3>Momentum Scanner</h3>
<form hx-target="#runningStrategies" hx-post="/run-momentum-scanner" hx-target-error="#errors">
	<label for="exchangeName">Exchange Name:</label>
	<select name="exchangeName">
	  {#for name in exchanges}
		<option value="{name}">{name}</option>
	  {/for}
	</select>
	
	<label for="refreshInterval">Refresh Interval [x10s]:</label>
	<input name="refreshInterval" type="number" value="1"/>

	<label for="usdVolume24h">USD volume 24h [USDT]:</label>
	<input name="usdVolume24h" type="number" value="1000000"/>

	<label for="priceChange">Price change [%]:</label>
	<input name="priceChange" type="number" value="3"/>
	
	<label for="volumeChange">Volume change [x]:</label>
	<input name="volumeChange" type="number" value="7"/>

	<br/>
	<input type="submit" value="Run" />
</form>
