{@java.lang.String[] exchanges}

<h3>Momentum Scanner</h3>
<form hx-target="#runningStrategies" hx-post="/run-momentum-scanner" hx-target-error="#errors">
	<label for="exchangeName">Exchange Name:</label>
	<select name="exchangeName">
	  {#for name in exchanges}
		<option value="{name}">{name}</option>
	  {/for}
	</select>
	
	<label for="usdVolume24h">USD volume 24h:</label>
	<input name="usdVolume24h" type="number" value="1000000"/>

	<label for="priceDelta">Price delta:</label>
	<input name="priceDelta" type="number" value="10"/>
	
	<br/>
	<input type="submit" value="Run" />
</form>
