{@java.util.Map<java.lang.String, cz.amuradon.tralon.agent.strategies.Strategy> runningStrategies}

<table>
  <thead>
  <tr>
    <th>Key</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  </thead>
  {#for item in runningStrategies}
    <tr>
	    <td>{item.key}</td>
	    <td>{item.value.description}</td>
	    <td>
	    	<button hx-target="#runningStrategies" hx-post="/stop-strategy" name="stopId" value="{item.key}">
	    		STOP
	   		</button>
	   		<a href="{item.value.link}" target="_blank">
	    		DETAILS
	   		</a>
	 	</td>
    </tr>
  {/for}
</table>
