{@java.lang.String[] exchanges}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Spot Hedging Strategy</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
<h3>Spot Hedging Strategy</h3>
<form hx-target="#runningStrategies" hx-post="/spot-hedging-strategy/run">
	<label for="exchangeName">Exchange Name:</label>
	<select name="exchangeName">
	  {#for name in exchanges}
		<option value="{name}">{name}</option>
	  {/for}
	</select>
	
	<label for="endDateTime">End date time:</label>
	<input name="endDateTime" type="datetime-local"/>
	
	<label for="baseAsset">Base Asset:</label>
	<input name="baseAsset" type="text"/>
	
	<label for="quoteAsset">Base Asset:</label>
	<input name="quoteAsset" type="text" value="USDT"/>

	<label for="price">Price:</label>
	<input name="price" type="number"/>
	
	<label for="baseQuantity">Base Quantity:</label>
	<input name="baseQuantity" type="number"/>
	
	<input type="submit" value="Run" />
</form>
<h4>Running strategies</h4>
<div id="runningStrategies" hx-get="/spot-hedging-strategy/get" hx-trigger="load">
<!-- To be replaced by the result of calling /get -->
</div>
</body>
</html>